<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    
    <connectionStrings>
    <add name="frzkConnect" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source= |DataDirectory|\final.sdf;Password=ladybecky@2102"/>

  <add name="FinalCon" connectionString="Data Source=|DataDirectory|\Data\ProjectDb.sdf" providerName="SQL Server Compact 4.0 (Simple by ErikEJ)"/>
</connectionStrings>

</configuration>
